includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  level: 6
  paths:
    - app/Providers
    - app/Services/Clair
    - app/Services/Scrutins
    - app/Services/Sync
    - app/Support
  tmpDir: storage/framework/cache/phpstan
